extends ../shared/template
block content
  .container
      #banner.page-header
        .row
          .col-xs-12
            h2#header Trips
  .panel.panel-default
    .panel-body
      each trip in trips
        h4= trip.name

block scripts
  script(src='/js/user/home.js')

