extends ../shared/template
block content
  .container
      #banner.page-header
        .row
          .col-xs-12
            h2#header Add a trip
  .panel.panel-default
    .panel-body
      .row
        form(role='form', method='post', action='/trips', enctype='multipart/form-data')
          .col-xs-12.col-sm-6
            .form-group
              label(for='tripName') Trip Name
              input#tripName.form-control(type='text', placeholder='Vegas, baby!', name='name')
            .form-group
              label(for='cash') Cash
              input#cash.form-control(type='number', placeholder='500', name='cash')
            .form-group
              label(for='origin') Origin
              input#origin.form-control(type='text', placeholder='Nashville, TN', name='origin')
              input#originLat.form-control(type='hidden', name='origin')
              input#originLng.form-control(type='hidden', name='origin')

            .form-group
              label(for='destination') Destination
              input#destination.form-control(type='text', placeholder='Las Vegas, NV', name='destination')
              input#destinationLat.form-control(type='hidden', name='destination')
              input#destinationLng.form-control(type='hidden', name='destination')
            .form-group
              label(for='carPhoto') Car Photo
              input#carPhoto.form-control(type='file',  name='carPhoto', multiple=false)
          .col-xs-12.col-sm-6
            .form-group
              label(for='startDate') Start Date
              input#startDate.form-control(type='date',  name='startDate')
            .form-group
              label(for='endDate') End Date
              input#endDate.form-control(type='date',  name='endDate')
            .form-group
              label(for='mpg') MPG
              input#mpg.form-control(type='number', placeholder='25', name='mpg')
            .form-group
              label(for='gasCost') Gas Cost / gal
              input#gasCost.form-control(type='number', step='any', placeholder='3.99', name='gasCost')
              input#distance.form-control(type='hidden', name='distance')
            button.btn.btn-success.btn-lg(type='submit') Submit





block scripts
  script(src='/js/user/newTrip.js')

